body {
    background-color: #eef5f9;
    font-family: 'Arial';
    color: #333;
}

.section-box {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.highlight {
    color: #1e3d59;
}

.navlink {
    display: inline-block;
    margin: 10px;
    color: #1e3d59;
    text-decoration: none;
    font-weight: bold;
}
